*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}
body{
    padding: 2vw;
    background-color: #EAF0F7;
}
main{
    width: 90%;
    height: auto;
    margin: auto;
    border: 1px solid black;
    box-shadow: 10px 10px 12px rgba(0, 0, 0, 0.2);
    display: grid;
    grid-template-rows: 10vh 18vh;
    background-color: #FFFFFF;
}
.header{
    display: grid;
    grid-template-columns: 18% 70% 12%;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);  
}
.header>div{
    background-color: white;
    font-weight: bolder;
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header>div:nth-child(1){
    color: #003366;
    padding-left: 5vh;
}
.header>div:nth-child(2){
    color: #616C75;
    display: flex;
    justify-content: space-evenly;
}
.header>div:nth-child(3){
    color: #4898CF;
    border-left: 2px solid lightgray;
}
.hero{
    color: #023368;
    display: grid;
    grid-template-columns: 60% 40%;
    margin-bottom: 0vh;
}
.hero>div{
    display: grid;
    padding-left: 2vw;
    grid-template-rows: repeat(2,1fr);
}
h1{
    margin: auto 1vw;
}
.optionDivs{
    padding: 1vh;
    display: grid;
    grid-template-columns: 18% 18% 18% 40%;
    gap: 2vh;
}
.optionDivs>div{
    border: 1px solid black;
    border-radius: 2vh;
}
.optionDivs>div:nth-child(1){
    background-color: #003366;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}
.optionDivs>div:nth-child(2), .optionDivs>div:nth-child(3){
    color: #003366;
    display: flex;
    border: 3px solid #003366;
    justify-content: center;
    font-weight: bold;
    align-items: center;
    font-size: 1.5rem;
}
.optionDivs>input{
    background-color: #F5F9FA;
    color: #616C75;
    border-radius: 2vh;
    display: flex;
    padding-left: 2vw;
    align-items: center;
    font-size: 1.3rem;
}
.dropdown{
    border: 3px solid #003366;
    color: #003366;
    border-radius: 2vh;
    width: 25%;
    height: 8vh;
    margin-left: 15vw;
    display: flex;
    justify-content: center;
    font-weight: bold;
    align-items: center;
    font-size: 1.5rem;
    position: relative;
}
.headingButton{
    width: 2vw;
    height: 4vh;
    border: none;
    color: #003366;
    margin-left: 0.5vw;
}
button{
    width: 2vw;
    height: 4vh;
    border: none;
    color: black;
    margin-left: 5vw;
}
table{
    border: 1px solid darkgray;
    margin: auto;
    margin-top: 10vh;
    width: 90%;
    border-collapse: collapse;
}
tr{
    height: 4vh;
}
thead th{
    background-color: #F5F9FA;
    color: #60707D;
    font-size: 1.2rem;    
}
td,th{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    text-align: center;
    vertical-align: middle; 
    height: 5vh;
}
.pageIcons{
    width: 90%;
    height: 5vh;
    margin: auto;
    font-weight: bold;
    margin-top: 5vh;
    margin-bottom: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pagingButton{
    background-color: white;
    font-weight: bold;
}
.addRow{
    margin: auto;
    display: grid;
    grid-template-columns: 11.3vw 10.3vw 12.8vw 13.4vw 17.9vw 11.2vw;
    grid-template-rows: 5vh;
    gap: 0vw;
}
.addRow>input{
    border-top: none;
    border-bottom: 1px solid black;
    color: #003366;
    font-size: 1.2rem;
    font-weight: bold;
    padding-left: 1vw;
}
.editActionButton{
    width: auto;
    padding: 0vh 1vh;
    height: 4vh;
    border: none;
    background-color: #4898CF;
    border-radius: 1vh;
    color: white;
    margin-left: 0.5vw;   
}
.deleteActionButton{
    width: auto;
    padding: 0vh 1vh;
    height: 4vh;
    border: none;
    background-color: #4898CF;
    border-radius: 1vh;
    color: white;
    margin-left: 0.5vw;   
}